/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive, 'sans-serif';
}


/* MAKE IMAGES EASIER TO WORK WITH */
img {
    max-width: 100%;
}


/* HEADER STYLING */
.container {
    width: 60rem;
    margin: 0 auto;
}

header {
    background-color: black;
    color: white;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
}

.nav-links {
    display: flex;
    margin-left: 2rem;
    list-style: none;
    align-items: center;
}

.nav-links a {
    text-decoration: none;
    margin: 0 1rem;
    color: white;
}

.btn {
    margin-left: 15rem;
    padding: 0.5rem 1rem;
    background-color: rgb(23,162,184);
    border-radius: 4px;
    color: white;
}

/* MAIN CONTENT STYLING */
.content {
    display: flex;
    margin: 0 auto;
    margin-top: 2rem;
    width: 100%;
    
}

.col-1 {
    margin-right: 10rem;
    flex: 2;
}

.col-2 {
    border: 3px solid red;
    flex: 1;
}


/* USER CARD STYLING */
.user-card {
    display: flex;
    flex-direction: column;
    border: 3px solid lightgray;
    border-top: none;
    border-radius: 6px;
    margin-bottom: 2rem;
}

.user-card-banner {
    background-color: rgb(23,162,184);
    height: 5rem;
    border-radius: 6px;
}

.name-photo {
    margin-left: 1.5rem;
    border-top: none;
}

.name-photo img {
    height: 6rem;
    margin-top: -3rem;
}

.name-photo .name {
    margin-bottom: 0.5rem;
}

.location {
    display: flex;
    margin-left: 1.5rem;
    align-items: center;
    margin-bottom: 0.5rem;
}

.location img {
    height: 1rem;
    margin-right: 0.5rem;
}

.description {
    margin-left: 1.5rem;
    margin-bottom: 0.5rem;
}

.edit {
    display: flex;
    align-items: center;
    margin-left: 1.5rem;
    margin-bottom: 1rem;
}

.edit img {
    height: 1rem;
    margin-right: 0.5rem;
}

/* EDUCATION CARD STYLING */

.education {
    border-radius: 6px;
    border: 3px solid lightgrey;
    border-top: none;
}

.edu-banner {
    background-color: rgb(87, 87, 87);
    border-radius: 6px;
    padding: 0.5rem 0;
    color: white;
    margin-bottom: 1rem;
}

.edu-banner h2 {
    margin-left: 1.5rem;
}

.edu-content {
    margin-left: 1.5rem;
}

.edu-content p {
    margin-bottom: 0.5rem;
}

.edu-content span {
    color: gray;
}

.edu-experience {
    margin-bottom: 0.5rem;
}

